<div class="post">
  <%= link_to admin_user_path(post.user.id), class: "link" do %>
    <table class="table table-borderless">
      <tr>
        <td>
          <%= image_tag post.user.get_user_image(100,100) %>
          <span class="ml-5">
            <%= post.user.name %>
          </span>
        </td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to "投稿を削除する", admin_post_path(post.id), method: :delete, data: { confirm: "本当に投稿を削除しますか？" }, class: "btn btn-delete" %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <%= link_to admin_post_path(post.id), class: "link" do %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th style="width: 30%"></th>
          <th style="width: 70%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag post.get_post_image(300,300), size: "330x250" %></td>
          <td class="border border-secondary"><%= post.text %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div class="text-right">
    <div class="d-inline-flex">
      <div class="mt-2">ジャンル:<%= post.category.name %></div>
      <div class="mt-1 ml-2">
        <span class="btn btn-sm btn-light rounded-pill border">へぇ〜</span>
        :<%= post.post_likes.count %>件
      </div>
      <div class="mt-2 ml-2">コメント:<%= post.post_comments.count %>件</div>
    </div>
  </div>
</div>