<div class="post shadow">
  <%= link_to user_path(post.user.id), class: "link" do %>
    <table class="table table-borderless">
      <tr>
        <td>
          <%= image_tag post.user.get_user_image(100,100) %>
          <span class="d-inline-block text-truncate mx-5">
            <%= post.user.name %>
          </span>
        </td>
      </tr>
    </table>
  <% end %>
  <%= link_to post_path(post.id), class: "link" do %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th style="width: 30%"></th>
          <th style="width: 70%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag post.get_post_image(300,300), size: "330x250", class: "img-fluid" %></td>
          <td class="border border-secondary"><%= post.text %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div class="text-right">
    <div class="d-inline-flex">
      <div class="mt-2">ジャンル:<%= post.category.name %></div>
      <div class="mt-1 ml-2">
        <div id="favorite_btn_<%= post.id %>">
          <%= render "public/post_likes/post_like_btn", post: post %>
        </div>
      </div>
      <div class="mt-2 ml-2">コメント:<%= post.post_comments.count %>件</div>
    </div>
  </div>
</div>