<% post_comments.each do |post_comment| %>
  <%= link_to admin_user_path(post_comment.user.id), class: "link" do %>
    <table class="table table-borderless">
      <tr>
        <td>
          <%= image_tag post_comment.user.get_user_image(100,100) %>
          <span class="mx-5">
              <%= post_comment.user.name %>
          </span>
          <span class="mx-5">
              <%= post_comment.comment %>
          </span>
        </td>
        <td>
          <span class="mx-5">
            <%= link_to "削除する", post_post_comment_path(post_comment.post.id, post_comment.id), method: :delete, data: { confirm: "本当にコメントを削除しますか？" }, class: "btn btn-delete" %>
          </span>
        </td>
      </tr>
    </table>
  <% end %>
  <div class="border my-3"></div>
<% end %>
