<% post_comments.each do |post_comment| %>
  <%= link_to user_path(post_comment.user.id), class: "link" do %>
    <table class="table table-borderless post">
      <tr>
        <td>
          <span class="mx-4 my-5">
            <%= image_tag post_comment.user.get_user_image(80,80) %>
          </span>
          <span class="mx-5">
              <%= post_comment.user.name %>
          </span>
          <span class="mx-5">
              <%= post_comment.comment %>
          </span>
        </td>
        <td>
          <% if post_comment.user == current_user %>
            <%= link_to "削除する", post_post_comment_path(post_comment.post.id, post_comment.id), method: :delete, remote: true, class: "btn btn-delete" %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <div class="border my-3"></div>
<% end %>
