<div class="container">
  <div class="row">
    <div class="col my-5">
      <h5 class="bg-light col-2 mb-2">新規登録</h5>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :name, "ニックネーム" %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
        
          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :password, "パスワード（6文字以上）" %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
        <h6 class="bg-light col-4 my-3">既にユーザー登録済みの方</h6>
        <%= render "public/shared/links" %>からログインしてください。
