<div class="container">
  <div>
    "<%= @word %>"の検索結果
    <% if @results.exists? %>
      （全<%= @results.total_count %>件中<%= @results.offset_value + 1 %>〜<%= @results.offset_value + @results.length %>件を表示しています。）
    <% end %>
  </div>
  <div class="col-lg-12 mx-auto">
    <% if @results.present? %>
      <% if @range == "ユーザー名" %>
        <% @results.each do |result| %>
          <% if user_signed_in? %>
            <%= link_to user_path(result.id), class: "link" do %>
              <table class="table table-borderless post">
                <tbody>
                  <tr>
                    <td>
                      <span class="mx-4 my-5">
                        <%= image_tag result.get_user_image(80,80) %>
                      </span>
                      <span class="d-inline-block text-truncate mx-5">
                        <%= result.name %>
                      </span>
                    </td>
                    <td>
                      <span class="mx-2 mx-md-5 text-left d-inline-block">
                        <% if result.profile.present? %>
                          <%= result.profile %>
                        <% else %>
                          プロフィールはまだありません。
                        <% end %>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
            <div class="border my-3"></div>
          <% else %>
            <%= link_to admin_user_path(result.id), class: "link" do %>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th style="width: 40%"></th>
                    <th style="width: 60%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= image_tag result.get_user_image(80,80) %>
                      <span class="d-inline-block text-truncate mx-5">
                        <%= result.name %>
                      </span>
                    </td>
                    </td>
                    <td>
                      <% if result.profile.present? %>
                        <%= result.profile %>
                      <% else %>
                        プロフィールはまだありません。
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
            <div class="border my-3"></div>
          <% end %>
        <% end %>
      <% else %>
        <div class="row">
          <% @results.each do |result| %>
            <div class="col-3 mt-3 px-1">
              <% if user_signed_in? %>
                <div class="card shadow">
                  <%= link_to post_path(result.id), class: "card h-100 w-70 link" do %>
                    <div class="card-body">
                      <table class="table table-borderless">
                        <tr>
                          <td>
                            <%= image_tag result.get_post_image(100,100), size: "100x100", class: "rounded border" %>
                            <span class="d-inline-block text-truncate ml-1">
                              <%= result.user.name %>
                            </span>
                          </td>
                        </tr>
                      </table>
                      <div class="card-text">
                        <h6 class="border p-md-1">
                          <%= truncate(result.text, length: 32) %>
                        </h6>
                      </div>
                    </div>
                    <div class="card-footer">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">ジャンル:<%= result.category.name %></li>
                        <li class="list-group-item">
                          <% if result.post_liked_by?(current_user) %>
                            <span class="btn btn-sm btn-light rounded-pill border">へぇ〜済</span>
                          <% else %>
                            <span class="btn btn-sm btn-light rounded-pill border">へぇ〜</span>
                          <% end %>
                          :<%= result.post_likes.count %>件
                        </li>
                        <li class="list-group-item">コメント:<%= result.post_comments.count %>件</li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <%= link_to admin_post_path(result.id), class: "card h-100 w-70 link" do %>
                  <div class="card-body">
                    <table class="table table-borderless">
                      <tr>
                        <td>
                          <%= image_tag result.get_post_image(100,100), size: "100x100", class: "rounded border" %>
                          <span class="d-inline-block text-truncate ml-1">
                            <%= result.user.name %>
                          </span>
                        </td>
                      </tr>
                    </table>
                    <div class="card-text">
                      <h6 class="border p-md-1">
                        <%= truncate(result.text, length: 32) %>
                      </h6>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">ジャンル:<%= result.category.name %></li>
                      <li class="list-group-item">
                        <span class="btn btn-sm btn-light rounded-pill border">へぇ〜</span>:<%= result.post_likes.count %>件
                      </li>
                      <li class="list-group-item">コメント:<%= result.post_comments.count %>件</li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% if @range == "ユーザー名" %>
        <div>該当するユーザーはいません。</div>
      <% else %>
        <div>該当する投稿はありません。</div>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center mt-3 custom-pagination">
      <%= paginate @results %>
    </div>
  </div>
</div>