<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto border-bottom">
      <h3>【ユーザー詳細】</h3>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th style="width: 40%"></th>
            <th style="width: 60%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="mx-5">
                <%= image_tag @user.get_user_image(100,100) %>
              </span>
              <span class="d-inline-block text-truncate mx-5">
                <%= @user.name %>
              </span>
            </td>
            <td class="border border-secondary">
              <span class="mx-2 mx-md-5 text-left d-inline-block">
                <% if @user.profile.present? %>
                  <%= @user.profile %>
                <% else %>
                  <span class="mx-2">
                    プロフィールはまだありません。
                  </span>
                <% end %>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class= "text-center" >
        <table class="table table-borderless">
          <tr>
            <td>ユーザーID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>ユーザーステータス</td>
            <td>
              <% if @user.user_status == false %>
                <span class="text-success">通常</span>
              <% else %>
                <span class="text-danger">停止</span>
              <% end %>
            </td>
          </tr>
        </table>
      </div>


      <div class="text-center mb-3">
        <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-default" %>
        <br>
        <!--このユーザーの投稿一覧ボタン＝＞検索結果と同じ画面-->
      </div>