<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= render "layouts/errors", model: @user %>
      <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <td><%= image_tag current_user.get_user_image(100,100) %></td>
            <td><%= @user.name %></td>
            <td>プロフィール<%= f.text_field :profile, placeholder: "プロフィールはまだありません" %></td>
          </tr>
        </table>
        <div class="form-group">
          <label for="inputImage">写真を変更する</label>
          <br><%= f.file_field :user_image, accept: "image/*", include_blank: "ユーザー写真を変更する" %>
        </div>
        <div class= "col-md-3">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-success" %>
          <%= link_to "アカウントを削除する", check_users_path, class: "btn btn-danger mt-1" %>
        </div>
        <div class="col-md-6 offset-md-1">
          <table class="table table-borderless">
            <tr>
              <td><%= f.label :name, "ユーザーネーム" %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.text_field :email %></td>
            </tr>
            <!--パスワードの再設定はむずかしそうだから時間があれば-->
            <tr>
              <td><%= f.label :password, "パスワード（6文字以上）" %></td>
              <td><%= f.text_field :password %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
              <td><%= f.text_field :password_confirmation %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.submit "変更を保存する", class: "btn btn-secondary" %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
          
    </div>
  </div>
</div>