<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= render "layouts/errors", model: @user %>
      <%= form_with model: @user do |f| %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th style="width: 40%"></th>
              <th style="width: 60%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="d-md-flex justify-content-md-start">
                <%= image_tag current_user.get_user_image(100,100) %>
                <div class="mx-2 mx-md-5">
                  <span class="d-inline-block text-truncate">
                    <%= @user.name %>
                  </span>
                </div>
              </td>
              <td>プロフィール<%= f.text_field :profile, class: "form-control", placeholder: "プロフィールはまだありません" %></td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
          <%= f.file_field :user_image, accept: "image/*", include_blank: "ユーザー写真を変更する" %>
        </div>
        <div class= "col-md-3">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
          <%= link_to "アカウントを削除する", check_users_path, class: "btn btn-delete mt-1" %>
        </div>
        <div class="offset-md-1">
          <table class="table table-borderless">
            <tr>
              <td><%= f.label :name, "ユーザー名" %></td>
              <td><%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "最大10文字", maxlength: 10 %></td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "xxx@email.com" %></td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "半角英数6文字以上" %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "再度ご入力ください" %></td>
            </tr>
            <tr>
              <td><%= f.label :current_password %> (変更にはパスワードが必要です)</td>
              <td><%= f.password_field :current_password, autocomplete: "current-password",class: "form-control", placeholder: "必須項目です" %></td>
            </tr>
          </table>
          <div class="mt-4 text-center">
            <%= f.submit "変更を保存する", class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>