<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto border-bottom">
      <table class="table table-borderless">
        <tr>
          <td><%= image_tag @user.get_user_image(100,100) %></td>
          <td><%= @user.name %></td>
          <td>
            プロフィール
            <% if @user.profile.present? %>
              <%= @user.profile %>
            <% else %>
              <p>プロフィールはまだありません。</p>
            <% end %>
          </td>
        </tr>
      </table>
      <% unless @user == current_user %>
        <%= render "public/relationships/follow_btn", user: @user %>
      <% end %>
      <div class="mt-3">
        <%= link_to user_followings_path(@user.id) do %>
          フォロー数: <%= @user.followings.count %>
        <% end %>
      </div>
      <div class="mt-1">
        <%= link_to user_followers_path(@user.id) do %>
          フォロワー数: <%= @user.followers.count %>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div class="text-center mb-3">
          <%= link_to "ユーザー情報を編集する", edit_user_path(@user.id), class: "btn btn-success" %>
        </div>
      <% end %>
      
      <div class="border my-3"></div>
      
      <h4>
        【投稿一覧】
        <% if @posts.exists? %>
          （全<%= @posts.total_count %>件中<%= @posts.offset_value + 1 %>〜<%= @posts.offset_value + @posts.length %>件を表示しています。）
        <% end %>
      </h4>
      <% @posts.each do |post| %>
        <%= render "public/posts/post", post: post %>
        <div class="border my-3"></div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>